.costom-css a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 25px;
    font-weight: 500;

}
.costom{
    font-size: 26px;
}
.btn-singout{
    background-color: rgb(180, 138, 22);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 19px;
    border: none;
    border-radius: 15px;
    margin-left: 15px;
}